a {
    color: white;
    text-decoration: none;
    padding: 0.5em !important;
  }

a:hover {
    color: lightgrey;
}

h1 {
    color: white;
    letter-spacing: 0.1em;
    margin: 0.5em;
}

  .masthead {
    height: 100vh;
    min-height: 500px;
    background-color: hsl(180, 5%, 12%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }